body {
  background-color: #1a1a19;
  color: white;
}

hr {
  width: 100%;
  background-color: #EDEFF4;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: 10px;
  text-align: center;
}

.navbar-brand {
  font-size: 150%;
}

.nav-item {
  font-size: 150%;
}
